body{
    font-family: 'Poppins', sans-serif;
    font-size: 700;
    margin: 0;
    
}
.first h1{
    margin: 0;
}
.blue-color{
    color: blue;
}
.red{
    color: red;
}
.first{
    display: flex;
    
    max-width: 1200px;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.first-image{
    width: 30%;
    
}
.paragraph{
    width: 70%;
    margin-top: 70px;
}
.first-image img{
    max-width: 100%;
}
.link-button{
    color: white;
    background-color: rgb(112, 76, 145);
    padding: 10px 25px;
    text-decoration: none;
    background-image: linear-gradient(navy, violet);
    border-radius: 15px;
    box-shadow: 4px 7px 11px 4px rgb(255 0 0 / 20%);
}
.b{
    background-image: url(food-network/images/7.png);
    display: flex;
    text-underline-position: above;
    width: 100%;
    display: inline;
    padding: 10px;
}
.link-button2{
    color: white;
    padding: 1px;
    text-decoration: none;
    background-image: linear-gradient(yellow,red);
}
.recepie{
    text-align: center;
    color: black;
    
}
#about{
    background-image: url("food-network/images/shapes/7.png");
    background-size: cover;
    
    display: flex;
    
    max-width: 100%;
    margin:0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20px;
}

#about .paragraph{
    padding-left: 200px;
    padding-right: 200px;
}

#about .paragraph4{
    font-size: 18px;
}

.recepie-items{
    display: flex;
}
.single-recipie{
    width: 30%;
    padding: 15px;
    box-shadow: 4px 7px 9px 8px rgb(0 0 0 / 20%);
    border-radius: 15px;
    margin: 3%;

}

.single-recipie img{
    max-width: 100%;
}

.fix-width{
    max-width: 1200px;
    margin: 0 auto;
}
.recepie-header{
    text-align: center;
}